In [69]:
import json

from torch.nn.quantized.functional import threshold

with open('../outputs/badminton_e2e_slowfast_tadtr/detection_raw.json') as f:
    d = json.load(f)

In [72]:
pred_segs = []
for i, (video_id, segs) in enumerate(d['results'].items()):
    for seg in segs:
        start = seg['segment'][0]
        end = seg['segment'][1]
        score = seg['score']
        pred_segs.append({'video_id': video_id,
                          'start': start,
                          'end': end,
                          'score': score})

In [73]:
import pandas as pd

df = pd.DataFrame(pred_segs)
df

                video_id       start         end     score
0    ginting_axelsen_003    3.407431   25.955139  0.852946
1    ginting_axelsen_003    5.341966   27.866552  0.003908
2    ginting_axelsen_003    3.378944   25.341543  0.001182
3    ginting_axelsen_003    3.055814   17.254950  0.001162
4    ginting_axelsen_003   19.062695   26.211718  0.618729
..                   ...         ...         ...       ...
575  ginting_axelsen_017  176.642418  178.822275  0.009840
576  ginting_axelsen_017  192.230372  194.787473  0.069400
577  ginting_axelsen_017  186.919235  190.231274  0.049887
578  ginting_axelsen_017  180.509155  184.347850  0.048038
579  ginting_axelsen_017  192.954638  195.482205  0.043512

[580 rows x 4 columns]

In [78]:
threshold = 0.6
df_threshold = df[df['score'] > threshold]

In [ ]:
def ss_to_mmss(seconds):
    minutes = int(seconds // 60)
    seconds = int(seconds % 60)
    return f"{minutes:02}:{seconds:02}"


# Create a new column with the mm:ss format
df_threshold['start_mmss'] = df_threshold['start'].apply(ss_to_mmss)
df_threshold['end_mmss'] = df_threshold['end'].apply(ss_to_mmss)

In [80]:
df_threshold

                video_id       start         end     score start_mmss end_mmss
0    ginting_axelsen_003    3.407431   25.955139  0.852946      00:03    00:25
4    ginting_axelsen_003   19.062695   26.211718  0.618729      00:19    00:26
8    ginting_axelsen_003   42.056253   47.762216  0.671166      00:42    00:47
12   ginting_axelsen_003   59.613367   74.412740  0.823692      00:59    01:14
16   ginting_axelsen_003   93.961375  102.239432  0.718893      01:33    01:42
..                   ...         ...         ...       ...        ...      ...
536  ginting_axelsen_016  162.220689  169.802375  0.759464      02:42    02:49
540  ginting_axelsen_017    7.643485   11.983698  0.628627      00:07    00:11
548  ginting_axelsen_017   54.424054   63.381810  0.729533      00:54    01:03
552  ginting_axelsen_017   57.434507   65.423044  0.638715      00:57    01:05
556  ginting_axelsen_017   91.454010   96.163127  0.647589      01:31    01:36

[88 rows x 6 columns]